@import "src/styles/_mixins";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25%;
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  @include column-center;
  grid-gap: 13px;
}