@import 'src/styles/_mixins';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("./bg.png");
}

.table_row {
  font-size: small;
  max-width: fit-content;
}

.table_column {
}

.navbar {
  display: flex;
  flex-direction: row;
  background: white;
}

.fetch_buttons {
  @include row-leftmost;
  align-items: center;
  padding: 10px;
  grid-gap: 10px;
  flex-grow: 2;
}

.user_menu {
  padding: 10px;
}

.outlet {
  @include row-leftmost;
  flex-grow: 2;
}

.table {
  overflow: auto;
  background: white;
}

.database {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  @include column-uppermost;
  padding: 20px;
}
