@import 'src/styles/_mixins';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table_row {
  font-size: small;
  max-width: fit-content;
}

.fetch_buttons {
  @include row-leftmost;
  padding: 10px;
  grid-gap: 10px;
}

.outlet {
  @include row-leftmost;
  flex-grow: 2;
}

.table {
  overflow: auto;
}

.database {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar {
  @include column-uppermost;
  padding: 20px;
}
