@import 'src/styles/_mixins';

.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("./bg.png");
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header_content {
  @include column-center;
}

.outlet {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.action_button {
  display: flex;
  @include column-center;
  height: fit-content;
}

.form {
  @include column-center;
  grid-gap: 13px;
}
